<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cafe Menu</title>
<link rel="stylesheet" href="menu.css">
</head>
<body>
<div class="menu">
    <h1>Welcome to Yume・ima</h1>

    <!-- Food Section -->
    <h2>FOOD</h2>
    <div class="menu-section">
        <img src="food.jpg" alt="Food" class="menu-image">
        <ul>
            <li>牛肉</li>
            豚肉<a href="https://8dabe.com/2021/04/11/sweatpork/">（前田さん家のスウィートポーク）</a>
            <li>サーロインステーキ</li>
            <li>ソーセージ</li>
            <li>焼き鳥</li>
            <li>エビ</li>
            <li>はまぐり</li>
            <li>餃子</li>
            <li>じゃんから（佐々木家産じゃがいも使用）</li>
            <li>やきそば</li>
            <li>野菜各種（佐々木家産）</li>
            <!-- Add other foods here -->
        </ul>
    </div>


    <!-- Drinks Section -->
    <h2>DRINKS</h2>
    <div class="menu-section">
        <h3>alcohol</h3>
        <img src="beer.jpg" alt="Coffee" class="menu-image">
        <ul>
            <li>ビール</li>
            <li>ハイボール</li>
            <li>ジンソーダ（佐々木家産かぼす使用）</li>
            <li>酎ハイ各種</li>
            <!-- Add other drinks here -->
        </ul>
    </div>

    <div class="menu-section">
        <h3>soft drink</h3>
        <img src="cola.jpg" alt="Coffee" class="menu-image">
        <ul>
            <li>コカ・コーラ</li>
            <li>ジンジャーエール</li>
            <li>綾鷹</li>
            <li>珈琲</li>
            <!-- Add other drinks here -->
        </ul>
    </div>
    
    <!-- Desserts Section -->
    <h2>DESSERT</h2>
    <div class="menu-section">
        <img src="otumami.jpg" alt="Dessert" class="menu-image">
        <ul>
            <li>おつまみ</li>
            <li>お菓子</li>
            <!-- Add other desserts here -->
        </ul>
    </div>